body {
    overflow: hidden; /* Hide scrollbars */
    font-family: "Roboto Mono", monospace;
}

.score {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    font-size: 1.5em;
    padding-top: 10px;
    /* Make score overlap pipes */
    position: absolute;
    width: 100%;
    z-index: 100;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.instructions {
    position: absolute;
    top: 55px;
}

.startScreen,
.expert {
    cursor: pointer;
    color: white;
    position: absolute;
    text-align: center;
    padding: 15px 0;
    border: 1px solid black;
}

.startScreen {
    background-color: red;
    top: 110px;
    width: 50%;
}

.startScreen:hover {
    background-color: aliceblue;
    color: red;
}

.expert {
    background-color: blue;
    top: 190px;
    width: 25%;
}

.expert:hover {
    background-color: yellow;
    color: black;
}

.hide {
    display: none;
}

.gameMessage,
.small-screen-msg {
    position: absolute;
    top: 10%;
    left: 19%;
    width: 60%;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    line-height: 1.75em;
    cursor: pointer;
    /* overlay it on top of game */
    z-index: 99;
}

/* Hide message on Desktop */
.small-screen-msg {
    display: none;
}

.gameArea {
    background-color: skyblue;
    width: 100%;
    height: 100vh;
    margin: auto; /* in case want to adjust size later */
}

.pipe {
    width: 100px; /* Default width */
    position: absolute; /* Need this in order to move elements */
    text-align: center;
}

/* Bird Character styling */
.bird {
    position: absolute;
    top: 100px; /* how far to start from top of screen */
    left: 50px;
    width: 50px;
    height: 44px;
    background-image: url(../img/color-bird-48.png);
    background-size: cover;
}

.wing {
    position: absolute;
    background-color: rgb(240, 240, 240);
    width: 26px;
    height: 14px;
    border-radius: 8px;
    border: 2px solid black;
    /* Defualt positions within bird body */
    top: 17px;
    left: -3px;
}


/*** Message for Non-Desktops ***/
@media only screen and (max-width: 900px) {
    .button-container {
        display: none;
    }

    .small-screen-msg {
        display: block;
    }
}