body {
    /* Hide scrollbars */
    overflow: hidden;
}

.score {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    font-size: 1.5em;
    font-family: "Roboto Mono", monospace;
    padding-top: 10px;
    /* Make score overlap pipes */
    position: absolute;
    width: 100%;
    z-index: 100;
}

.startScreen {
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    color: white;
    background-color: red;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 100px;
    /* center align */
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}

.hide {
    display: none;
}

.gameMessage {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    background-color: aliceblue;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
    line-height: 1.5em;
    cursor: pointer;
    /* overlay it on top of game */
    z-index: 99;
}

.gameArea {
    background-color: skyblue;
    width: 100%;
    height: 100vh;
    margin: auto; /* in case want to adjust size later */
}

.pipe {
    width: 100px; /* Default width */
    position: absolute; /* Need this in order to move elements */
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

/* Bird Character styling */
.bird {
    position: absolute;
    top: 100px; /* how far to start from top of screen */
    left: 50px;
    width: 50px;
    height: 44px;
    background-image: url(../img/color-bird-48.png);
    background-size: cover;
}

.wing {
    position: absolute;
    background-color: rgb(240, 240, 240);
    width: 26px;
    height: 14px;
    border-radius: 8px;
    border: 2px solid black;
    /* Defualt positions within bird body */
    top: 17px;
    left: -3px;
}